<!DOCTYPE html>
<html lang="en">

<head>
[(${metaList})]
<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script
	type="text/javascript"
	src="js/jquery-3.4.1.min.js"></script>
<script
	type="text/javascript"
	src="js/bootstrap.min.js"></script>

<!-- google maps api -->
<!--  will restrict api to certain domain later. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlQPuIsQpfcWM560EypoUaMkMjDQgbbI4&libraries=places">
	
</script>
<link rel="stylesheet" href="css/bootstrap.min.css">

<style>
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

@media only screen and (max-device-width: 480px) {
	.footer {
		height: auto;
	}
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	margin: 0;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #01626B;
	color: white;
}

.circular--square {
	position: relative;
	top: -30px;
	z-index: 99;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border-style: solid;
	border-width: 4px;
	border-color: #92e6f37a;
	float: left;
	padding-boto
}

#donePgImg {
	position: relative;
	top: -30px;
	z-index: 99;
	width: 130px;
	height: 130px;
	float: left;
}

.imageText{
	color:#F4741A
}

.letsTalkBtn {
	background-color: #F4741A;
	color: white;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #f4751a;
	display: inline-block;
	font-family: Arial;
	font-size: 17px;
	padding: 2px 40px;
	text-decoration: none;
}

.letsTalkBtn:active {
	position: relative;
	top: 1px;
}

.letsTalkBtn:hover {
	background-color: #f58d42;
}

.pac-container {
	margin-top: -210px;
}

</style>
<script th:inline="javascript">
	/*<![CDATA[*/
	var globalAgent = /*[[(${Agent})]]*/'';
	var globalAffiliate = /*[[(${Affiliate})]]*/'';
	var globalPostLink = /*[[(${link})]]*/'';
	var globalPostId = /*[[(${PostId})]]*/'';
	var globalMedia = /*[[(${media})]]*/'';
	var gloabalCreateLeadEndpoint = /*[[(${CreateLeadEndPoint})]]*/'';
	/*]]>*/
</script>
<script>
	function showAgent() {
		$("#leadInfoForm").fadeOut(120, function() {
			$("#agentInfo").fadeIn();
		});
	}

	function showLeadForm() {
		$("#agentInfo").fadeOut(120, function() {
			$("#leadInfoForm").fadeIn();
		});
	}

	function showDonePg() {
		$("#leadInfoForm").fadeOut(120, function() {
			$("#donePg").fadeIn();
		});
	}

	function backToAgentPg() {
		$("#donePg").fadeOut(120, function() {
			$("#agentInfo").fadeIn();
		});
	}

	function clearInputs() {
		var form = document.getElementById("leadForm");
		form.elements.name.value = "";
		form.elements.birthday.value = "";
		form.elements.mobileNo.value = "";
		form.elements.preferredLocName.value = "";
	}

	function leadSubmit() {
		showLoading();

		var form = document.getElementById("leadForm");
		var date = new Date();

		//capture user input
		var name = form.elements.name.value;
		var birthday = form.elements.birthday.value;
		var mobileNo = form.elements.mobileNo.value;
		var preferredLocName = form.elements.preferredLocName.value;
		var timeStamp = date.getTime();
		var latitude = form.elements.latitude_input.value;
		var longitude = form.elements.longitude_input.value;

		//json Object
		var obj = {};
		obj["agentCode"] = "";
		obj["birthDate"] = birthday;
		obj["name"] = {};
		obj.name["en"] = name;
		obj["mobileNumber"] = mobileNo;
		obj["affiliateCode"] = "";
		obj["affiliatePostLink"] = globalPostLink;
		obj["affiliatePostId"] = globalPostId;
		obj["affiliateSharedMedia"] = globalMedia;
		obj["preferredLocName"] = preferredLocName;
		obj["preferredLocLongitude"] = longitude;
		obj["preferredLocLatitude"] = latitude;
		obj["assignTimestamp"] = timeStamp;

		//add affiliate info if affilite exist
		if (globalAffiliate != null) {
			obj.affiliateCode = globalAffiliate.id;
		}
		//add agent info if agent exist
		if (globalAgent != null) {
			obj.agentCode = globalAgent.id;
		}

		console.log(obj);

		//call createLead Api.
		//"http://10.110.1.130:8080/affiliate_gateway/affiliate_share/external/lead/createLead";
		
		var postUrl = gloabalCreateLeadEndpoint;
		$.ajax({
			url : postUrl,
			dataType : 'json',
			type : 'post',
			contentType : 'application/json',
			data : JSON.stringify(obj),
			success : function(data, textStatus, jQxhr) {
				console.log(data);
				console.log(textStatus);
				console.log(jQxhr);
				showDonePg();
				$("#submitLoadIcon").hide();
				clearInputs();
			},
			error : function(jqXhr, textStatus, errorThrown) {
				console.log(jqXhr);
				console.log(textStatus);
				console.log(errorThrown);
				alert("error while sending info");
				showAgent();
				$("#submitLoadIcon").hide();
				clearInputs();
			}
		});

	}

	function showLoading() {
		$("#submitLoadIcon").show();
	}

	function hideLoading() {
		$("#submitLoadIcon").hide();
	}

	function getLocation() {
		if (navigator.geolocation) {
			return navigator.geolocation.getCurrentPosition(function(pos) {
				console.log(position);
			});

		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}

	var searchInput = "preferredLocName";

	$(document)
			.ready(
					function() {
						$("#donePg").hide();
						$("#leadInfoForm").hide();
						$("#agentInfo").show();

						var input = document.getElementById('preferredLocName');
						var options = {

						}
						var autoComplete;
						autoComplete = new google.maps.places.Autocomplete(
								input, options);

						google.maps.event
								.addListener(
										autoComplete,
										'place_changed',
										function() {
											var near_place = autoComplete
													.getPlace();
											document
													.getElementById("latitude_input").value = near_place.geometry.location
													.lat();
											document
													.getElementById("longitude_input").value = near_place.geometry.location
													.lng();
										});
					});

	$(document).on('change', "#preferredLocName", function() {
		document.getElementById("latitude_input").value = "";
		document.getElementById("longitude_input").value = "";
	})
</script>

</head>

<body style="margin: 0px; padding: 0px; overflow: hidden">

	<!-- iframe of article URL -->
	<iframe
		th:src=${link}
		frameborder="0"
		style="display: block; border: none; height: 100vh; width: 100vw;"> </iframe>

	<!-- Modal -->
	<div
		class="modal fade"
		id="agentDetails"
		role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="text-center">[(${Agent?.AgentName})]</h6>
					<button
						type="button"
						class="close"
						data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p class="text-justify">[(${Agent?.briefDescription})]</p>
				</div>

			</div>
		</div>
	</div>

	<!-- agent info footer -->
	<footer class="footer">
		<div
			id="agentInfo"
			class="container-fluid m-1 p-1">
			<div class="row">
				<div
					class="col-md-4 text-md-left"
					data-toggle="modal"
					data-target="#agentDetails">
					<div>
						<img
							data-toggle="modal"
							data-target="#agentDetails"
							class="circular--square ml-3 mr-3"
							th:src="${Agent?.imgUrl}" />
					</div>

					<div class="text-md-left">
						<div>[(${Agent?.ExpertiseYear})] YRS | [(${Agent?.expertiseFields})]</div>
						<div>
							<b>[(${Agent?.AgentName})]</b>
						</div>
						<div>[(${Agent?.Accolade})]</div>
					</div>

				</div>
				<div class="d-none d-sm-block col-md-5 text-justify">
					<p class="text-justify">[(${Agent?.briefDescription})]</p>

				</div>
				<div class="col-md-3 text-center justify-content-center align-self-center">
					<button
						class="letsTalkBtn"
						onclick="showLeadForm()">let's talk</button>
				</div>
			</div>
		</div>

		<div
			id="leadInfoForm"
			class="container-fluid  m-1 p-1">

			<form
				id="leadForm"
				method="post"
				class="form-inline text-center justify-content-center align-self-center">
				<input
					id="name"
					class="md-3 form-control m-3"
					type="text"
					placeholder="Your name"
					aria-label="name"> <input
					id="birthday"
					class="md-1 form-control m-3"
					type="date"
					aria-label="birthday"> <input
					id="mobileNo"
					class="md-3 form-control m-3"
					type="number"
					placeholder="Mobile number"
					aria-label="mobileNo"> <input
					id="preferredLocName"
					class="md-3 form-control m-3"
					type="text"
					placeholder="Best area to reach"
					aria-label="preferredLocName"> <input
					type="hidden"
					id="latitude_input" /> <input
					type="hidden"
					id="longitude_input" />

				<button
					type="button"
					id="submit"
					value="submit"
					onclick="leadSubmit()"
					class="letsTalkBtn">
					</span> Contact Me <span
						id="submitLoadIcon"
						class="spinner-border spinner-border-sm"
						role="status"
						aria-hidden="true"
						style="Display: none;">
				</button>
			</form>
		</div>

		<div
			id="donePg"
			class="container justify-content-center"
			onclick="backToAgentPg()">
			<div class="d-flex justify-content-center">
				<img
					id="donePgImg"
					src="img/Graphics_contactus.png"
					class="md-3 ml-4 mr-4 align-self-center" />
				<div class="md-3">
					<p>Great, you are on my list.</p>
					<p>I'll contact you soon!</p>
				</div>

			</div>
		</div>

	</footer>
</body>
</html>